/* 임의의 전체의  */
* {
    margin:0;
    padding:0;
}

a {
    color:black;
    text-decoration: none;
}

li{
    list-style: none;
}

.gnb {
    font-size: 2rem;
    padding:1rem;
}

.yellow {
    background-color: yellow;
}

.d_flex{
    display: flex;
    justify-content: center;
    gap:25px;
}
